<div class="item-block">
    <button class="remove" (click)="deleteItem()"><mat-icon>close</mat-icon></button>
    <br>
    <img src="{{item.image}}">
    <h3>
        <a [title]="item.name + ' details'"
           [routerLink]="['/products', item.id]">
            {{ item.name }}
        </a>
    </h3>
    <p *ngIf="item.description">
        Description: {{ item.description }}
    </p>

    <div>
        <button type="button" (click)="share('https://t.me/share/url?url='+ item.link)">
            Share
        </button>


        <app-product-alerts
                [product]="item"
                (notify)="onNotify()">
        </app-product-alerts>
        <button (click)="likeIncrease()" id="like-button">Like {{this.like}} <mat-icon>favorite</mat-icon></button>
    </div>
</div>